body .wrapper-footer {
    margin-top: 0px;
    padding: 0px;
    clear: both;
}

#main-home-content{
    padding: 0px;
    width: calc;
}

.header-btns .btn-success{
    padding: 7px 18px;
    margin-right: 10px
}

.header-btns{
    padding-top: 15px;
}

.theme-content-wrapper {
    max-width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}

.theme-content-wrapper .container{
    border: none;
    background-color: transparent;
    padding: 0px;
}