<!-- You can make changes to HTML templates by copying them to your theme directory in the appropriate place, and making the changes you need. Keep in mind that in the future if you upgrade the Open edX code, you may have to update the copied template in your theme also. -->

## mako
<%namespace name='static' file='static_content.html'/>
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
%>
    <footer id="footer" class="midnight-blue">
        <div class="containers">
            <div class="row">
                <div class="col-sm-6">
                    <div class="col-md-12">
                      <img src="${static.url("images/logo.png")}" alt=""/>
                    </div>
                    <div class="col-md-12">
                      &copy; 2016 <a target="_blank" href="#" title="">edx-bootstrap-theme</a>. All Rights Reserved.
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-md-12">
                      <ul class="pull-right">
                          <li><a href="#">Home</a></li>
                          <li><a href="#">About Us</a></li>
                          <li><a href="#">Faq</a></li>
                          <li><a href="#">Contact Us</a></li>
                      </ul>
                    </div>
                    <div class="col-md-12">
                      <div class="social">
                        <ul class="social-share">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->