<!-- You can make changes to HTML templates by copying them to your theme directory in the appropriate place, and making the changes you need. Keep in mind that in the future if you upgrade the Open edX code, you may have to update the copied template in your theme also. -->

## mako
<%namespace name='static' file='static_content.html'/>
<%namespace file='main.html' import="login_query"/>
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML

# App that handles subdomain specific branding
import branding
# app that handles site status messages
from status.status import get_site_status_msg

from lms.djangoapps.ccx.overrides import get_current_ccx
%>

## Provide a hook for themes to inject branding on top.
<%block name="navigation_top" />

<%block>
<%
try:
    course_id = course.id.to_deprecated_string()
except:
    # can't figure out a better way to get at a possibly-defined course var
    course_id = None
site_status_msg = get_site_status_msg(course_id)
%>
% if site_status_msg:
<div class="site-status">
  <div class="inner-wrapper">
    <span class="white-error-icon"></span>
    <p>${site_status_msg}</p>
  </div>
</div>
% endif
</%block>
  <div class="top-bar top-bar-header">
    <div class="row">
        <div class="col-md-6 col-xs-6">
            <div class="top-number"><p><i class="fa fa-phone-square"></i> +0123 456 70 90</p></div>
        </div>
        <div class="col-md-6 col-xs-6">
           <div class="social">
                <ul class="social-share social-share-header pull-right">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                </ul>
           </div>
        </div>
    </div>
</div><!--/.top-bar-->
  <header id="global-navigation" class="global ${"slim" if course else ""} navbar navbar-inverse" >
    <!-- This file is only for demonstration, and is horrendous! -->
    <nav aria-label="${_('Global')}">
    <div class="col-md-1">
      <h1 class="logo pull-left" style="margin-top: 10px;">
        <a href="${marketing_link('ROOT')}">
          <%block name="navigation_logo">
              <img src="${static.url("images/logo.png")}" alt=""/>
          </%block>
        </a>
      </h1>
    </div>

    <div class="col-md-7">
      % if course:
      <h2><span class="provider">${course.display_org_with_default | h}:</span>
        ${course.display_number_with_default | h}
        <%
          display_name = course.display_name_with_default
          if settings.FEATURES.get('CUSTOM_COURSES_EDX', False):
            ccx = get_current_ccx()
            if ccx:
              display_name = ccx.display_name
        %>
        ${display_name}</h2>
      % endif

      % if user.is_authenticated():

        % if should_display_shopping_cart_func(): # see shoppingcart.context_processor.user_has_cart_context_processor
              <a class="shopping-cart" href="${reverse('shoppingcart.views.show_cart')}">
                <i class="icon fa fa-shopping-cart"></i> ${_("Shopping Cart")}
              </a>
        % endif
        % if not course:

        <ol class="left nav-global authenticated header-btns">
            % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
              <li class="nav-global-01">
                <a class="btn btn-info btn-sm pull-left color-black" href="${marketing_link('COURSES')}"><i class="icon fa fa-search p-l-5"></i>${_('Find Courses')}</a>
              </li>
            % endif
            %if settings.FEATURES.get('ENABLE_SYSADMIN_DASHBOARD','') and user.is_staff:
              <li>
                ## Translators: This is short for "System administration".
                <a href="${reverse('sysadmin')}">${_("Sysadmin")}</a>
              </li>
            %endif
        </ol>

        %endif
      </div>

      <div class="col-md-4 header-btns header-btns-auth">
        <div class="dropdown pull-right">
          <button class="btn btn-primary dropdown-toggle" style="box-shadow: unset;" type="button">${user.username}
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <%block name="navigation_dropdown_menu_links" >
            <li><a href="${reverse('account_settings')}">${_("Account Settings")}</a></li>
            <li><a href="${reverse('learner_profile', kwargs={'username': user.username})}">${_("My Profile")}</a></li>
            </%block>
            <li><a href="${reverse('logout')}" role="menuitem">${_("Sign Out")}</a></li>
          </ul>
        </div>
      </div>  
      % else:
        <%block name="navigation_global_links">
          % if static.get_value('ENABLE_MKTG_SITE', settings.FEATURES.get('ENABLE_MKTG_SITE', False)):
              <a href="${marketing_link('HOW_IT_WORKS')}">${_("How it Works")}</a>
            % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
                <a href="${marketing_link('COURSES')}">${_("Courses")}</a>
            % endif
              <a href="${marketing_link('SCHOOLS')}">${_("Schools")}</a>
          % endif
        </%block>

        <ol class="left nav-global authenticated header-btns">
          <%block name="navigation_global_links_authenticated">
            % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
              <li class="nav-global-01">
                <a class="btn btn-info btn-sm pull-left color-black" href="${marketing_link('COURSES')}"><i class="icon fa fa-search p-l-5" style="margin-right: 5px;"></i>${_('Find Courses')}</a>
              </li>
            % endif
            %if settings.FEATURES.get('ENABLE_SYSADMIN_DASHBOARD','') and user.is_staff:
              <li>
                ## Translators: This is short for "System administration".
                <a href="${reverse('sysadmin')}">${_("Sysadmin")}</a>
              </li>
            %endif
          </%block>
        </ol>

      </div>



      <div class="col-md-4 header-btns-login">

        % if not settings.FEATURES['DISABLE_LOGIN_BUTTON']:
            % if course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
            <a class="btn btn-primary btn-sm pull-right" style="color:#FFF;margin-top: 0px;" href="${reverse('course-specific-login', args=[course.id.to_deprecated_string()])}${login_query()}">${_("Sign in")}</a>
            % else:
            <a class="btn btn-primary btn-sm pull-right" style="color:#FFF;margin-top: 0px;" href="/login${login_query()}">${_("Sign in")}</a>
            % endif
        % endif
       % if not settings.FEATURES['DISABLE_LOGIN_BUTTON']:
            % if course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
              <a class="btn btn-success btn-sm pull-right" style="color:#FFF;margin-top: 0px;border-radius:4px;" href="${reverse('course-specific-register', args=[course.id.to_deprecated_string()])}">${_("Register Now")}</a>
            % else:
              <a class="btn btn-success btn-sm pull-right" style="color:#FFF;margin-top: 0px;border-radius:4px;" href="/register">${_("Register Now")}</a>
            % endif
        % endif

      % endif
      </div>
    </nav>
</header>
% if course:
<!--[if lte IE 8]>
<div class="ie-banner" aria-hidden="true">${_('<strong>Warning:</strong> Your browser is not fully supported. We strongly recommend using {chrome_link} or {ff_link}.').format(chrome_link='<a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">Chrome</a>', ff_link='<a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a>')}</div>
<![endif]-->
% endif

%if not user.is_authenticated():
  <%include file="forgot_password_modal.html" />
%endif

<%include file="help_modal.html"/>

<script type="text/javascript">
  $(document).ready(function(){
    $('.dropdown-menu > li>a:not(a[href="#"])').on('click', function() {
      self.location = $(this).attr('href');
    });
  });
</script>